@{
    ViewData["Title"] = "Register Page";
}
@model RegisterModel
<link href="~/css/site.css" />


<div class="container">
    <div class="row centered-form" style="margin-top: 100px;">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title centered-form">
                        Sign up
                    </h3>
                </div>
                <div class="panel-body">
                    <form role="form" asp-action="Register" asp-controller="Home" method="post">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="FirstName" class="form-control input-sm" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="LastName" class="form-control input-sm" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <select class="form-select form-control" name="Type" aria-label="Select User Type">
                                    <option selected>Select User Type</option>
                                    <option value="Admin">Admin</option>
                                    <option value="User">User</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" name="Email" class="form-control input-sm" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="password" name="Password" class="form-control input-sm" placeholder="Password">
                        </div>
                        <input type="submit" value="Register" class="btn btn-info btn-block">
                        <input type="submit" value="Already Have an Account?" class="btn btn-success btn-block">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
